#e{width: 5px; height: 150px; position: absolute; top: 100px; left: 50px; background-color: black;}
#d{width: 5px; height: 150px; position: absolute; top: 100px; left: 1300px; background-color: black;}
#b{width: 5px; height: 5px; position: absolute; top: 100px; left: 1200px; background-color: red;}